<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lcom151_two.veroapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".Otp" />
        <activity android:name=".timer" />
        <activity android:name=".UserHome"
            android:configChanges="orientation"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8261ffc97b6d4d9e1baeb66b4295b43091a627b6" />

        <activity android:name=".UserProfile"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>
    </application>

</manifest>